[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/article/*"
  to = "/article/:splat"
  status = 200
  force = false

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  force = false

[build.environment]
  NODE_VERSION = "18"

